@using  OnlineJewelryShoppingMVC.Common
@using OnlineJewelryShoppingMVC.Respository

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>YASH - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fav Icon -->
    <link id="favicon" rel="icon" type="image/png" href="img/favicon.ico" />
    <!-- Google Font Raleway -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,300,500,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Google Font Dancing Script -->
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link href="~/assets/client/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CSS -->
    <link href="~/assets/client/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="~/assets/client/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/assets/client/css/animate.min.css" rel="stylesheet" />
    <!-- simpleLens CSS -->
    <link href="~/assets/client/css/jquery.simpleLens.css" rel="stylesheet" />
    <!-- Price Slider CSS -->
    <link href="~/assets/client/css/jquery-price-slider.css" rel="stylesheet" />
    <!-- MeanMenu CSS -->
    <link href="~/assets/client/css/meanmenu.min.css" rel="stylesheet" />
    <!-- Magnific Popup CSS -->
    <link href="~/assets/client/css/magnific-popup.css" rel="stylesheet" />
    <!-- Nivo Slider CSS -->
    <link href="~/assets/client/css/nivo-slider.css" rel="stylesheet" />
    <!-- Stylesheet CSS -->
    @Styles.Render("~/assets/client/css/style.css")
    <!-- Responsive Stylesheet -->
    <link href="~/assets/client/css/responsive.css" rel="stylesheet" /> 
    <!-- jQuery 2.1.4 -->
    @Scripts.Render("~/assets/client/js/jquery-2.1.4.min.js")
    <!--Rating CSS-->
    <link href="~/assets/client/css/starrr.css" rel="stylesheet" />
</head>
<body>
    <div class="header-top">
        <!--Start Header Top Area-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="info">
                        <div class="phn-num float-left">
                            <i class="fa fa-phone float-left"></i>
                            <p>(000)  123  288  456 </p>
                        </div>
                        <div class="mail-id float-left">
                            <i class="fa fa-envelope-o float-left"></i>
                            <p><a href="#">info@yash.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="socials text-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div id="top-menu" class="float-right">
                        <ul>
                            <li><a href="">My Account</a></li>
                            @*<li>
                                    <a href="">$USD <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="">Pound</a></li>
                                        <li><a href="">BDT</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">English(UK) <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="">English(USA)</a></li>
                                        <li><a href="">Bangla</a></li>
                                    </ul>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Header Top Area-->
    <div class="header-area">
        <!--Start Header Area-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    @if (Session[CommonConstants.USER_SESSION] == null)
                    {
                        <div class="log-link">
                            <p>Welcome visitor you can</p>
                            <h5><a href="@Url.Action("Login", "Client")">Login</a> or <a href="@Url.Action("Login", "Client")">Create an account</a></h5>
                        </div>
                    }
                    else
                    {
                        UserLogin u = new UserLogin();
                        u = (UserLogin)Session[CommonConstants.USER_SESSION];
                        <div class="log-link">
                            <p>Welcome  <h5><a href="#">@u.UserName</a></h5></p>
                            <a href="@Url.Action("Logout", "Client")"><i class="fa fa-sign-out"></i></a>
                        </div>
                    }

                </div>
                <div class="col-sm-4 col-lg-6">
                    <div class="logo text-center">
                        <a href="@Url.Action("Index", "Client")">
                            <img src="~/assets/client/img/header/logo.png" alt="logo.png" />
                            <h4>online jewelry store</h4>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3" id="cartdroppable">
                    <div class="cart-info float-right">
                        <a href="@Url.Action("Index", "Cart")">
                            <h5>My cart <span>@ViewBag.TotalQty</span> items - <span>$ @ViewBag.TotalPrice</span></h5>
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cart-hover">
                            <ul class="header-cart-pro">
                                @if (Session["cartList"] != null)
                                {
                                    ItemRespository ir = new ItemRespository();
                                    foreach (CartList item in (List<CartList>)Session["cartList"])
                                    {
                                        <li>
                                            <div class="image">
                                                <a href="@Url.Action("ItemDetails", "Client", new { id = item.itemCode})">
                                                    <img src="~/assets/image/@ir.returnImage(item.itemCode)" alt="cart-1.jpg" />
                                                </a>
                                            </div>
                                            <div class="content fix"><a href="@Url.Action("ItemDetails", "Client", new { id = item.itemCode})">@item.itemCode</a><span class="price">Price: @item.price</span><span class="quantity">Quantity: @item.qty</span></div>
                                            <a href="@Url.Action("RemoveBy1", "Cart", new { id = item.itemCode})"><i class="fa fa-trash delete"></i></a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="header-button-price">
                                <a href="@Url.Action("Index", "Order")"><i class="fa fa-sign-out"></i><span>Check Out</span></a>
                                <div class="total-price"><h3>Total Price : <span>$@ViewBag.TotalPrice</span></h3></div>
                            </div>
                        </div>
                    </div>
                    <div class="search float-right">
                        <input type="text" value="" placeholder="Search Here...." />
                        <button class="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Header Area-->
    <div class="menu-area">
        <!--Start Main Menu Area-->
        <div class="container">
            <div class="row">
                <div class="clo-md-12">
                    <div class="main-menu hidden-sm hidden-xs">
                        <nav>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Client")" class="active">Home</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Shop", "Client")">Shop</a>
                                    <div class="mega-menu mega-menu-1">
                                        <div class="column-1 column">
                                            <ul>
                                                <li><a href="shop-list.html">diamond jewelry</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T01"})">ring</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T02"})">earings</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T04"}) ">necklace</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T03"})">bracelet</a></li>
                                            </ul>
                                        </div>
                                        <div class="column-2 column">
                                            <ul>
                                                <li><a href="shop-list.html">stone jewelry</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T01"})">ring</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T02"})">earings</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T04"}) ">necklace</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T03"})">bracelet</a></li>
                                            </ul>
                                        </div>
                                        <div class="column-3 column">
                                            <ul>
                                                <li><a href="shop-list.html">gold jewelry</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T01"})">ring</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T02"})">earings</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T04"}) ">necklace</a></li>
                                                <li><a href="@Url.Action("Shop", "Client", new { sort_by_prod = "T03"})">bracelet</a></li>
                                            </ul>
                                        </div>
                                        <div class="column-4 column">
                                            <a href="@Url.Action("Shop", "Client")">
                                                <img src="~/assets/client/img/nav.jpg" alt="10.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Blog", "Client")">Blog</a>
                                </li>
                                <li><a href="@Url.Action("About", "Client")">About Us</a></li>
                                <li>
                                    <a href="@Url.Action("Contact", "Client")">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu hidden-md hidden-lg">
                        <nav>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Client")" class="active">Home</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Shop", "Client")">Shop</a>
                                    <ul>
                                        <li>
                                            <a href="#">Diamond Jewelry</a>
                                            <ul>
                                                <li><a href="#">ring</a></li>
                                                <li><a href="#">earings</a></li>
                                                <li><a href="#">necklace</a></li>
                                                <li><a href="#">bracelet</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Stone Jewelry</a>
                                            <ul>
                                                <li><a href="#">ring</a></li>
                                                <li><a href="#">earings</a></li>
                                                <li><a href="#">necklace</a></li>
                                                <li><a href="#">bracelet</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Gold Jewelry</a>
                                            <ul>
                                                <li><a href="#">ring</a></li>
                                                <li><a href="#">earings</a></li>
                                                <li><a href="#">necklace</a></li>
                                                <li><a href="#">bracelet</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Blog", "Client")">Blog</a>
                                </li>
                                <li><a href="@Url.Action("About", "Client")">About Us</a></li>
                                <li>
                                    <a href="@Url.Action("Contact", "Client")">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Main Menu Area-->
    @RenderBody()
    <div class="brand-area section fix">
        <!--Start Brand Area-->
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Our Brands</h2>
                    <div class="underline"></div>
                </div>
                <div class="brand-slider owl-carousel">
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-1.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-2.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-3.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-4.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-5.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-1.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-2.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-3.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-4.png" alt="" /></div>
                    <div class="brand-item"><img src="~/assets/client/img/brand/brand-5.png" alt="" /></div>
                </div>
            </div>
        </div>
    </div><!--End Brand Area-->
    <div class="support-area section fix">
        <!--Start Support Area-->
        <div class="container">
            <div class="row">
                <div class="support col-sm-3">
                    <i class="fa fa-thumbs-up"></i>
                    <h3>High quality</h3>
                    <p>Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur</p>
                </div>
                <div class="support col-sm-3">
                    <i class="fa fa-bus"></i>
                    <h3>Fast Delivery</h3>
                    <p>Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur</p>
                </div>
                <div class="support col-sm-3">
                    <i class="fa fa-phone"></i>
                    <h3>24/7 support</h3>
                    <p>Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur</p>
                </div>
                <div class="support col-sm-3">
                    <i class="fa fa-random"></i>
                    <h3>14 - Day Returns</h3>
                    <p>Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur</p>
                </div>
            </div>
        </div>
    </div><!--Start Support Area-->
    <div class="footer-top-area fix">
        <!--Start Footer top area-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="footer-about">
                        <div class="image">
                            <img src="~/assets/client/img/header/logo.png" alt="logo.png" />
                            <h3>online jewelry store</h3>
                        </div>
                        <p>Our goal at Yash’s is to make our customers feel comfortable and to keep them coming back for generations. After being in business for over 100 years we know how to make our customers feel as precious as our diamonds.</p>
                    </div>
                    <div class="footer-contact">
                        <div class="single-contact">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="details">
                                <p>Main town, Anystreen</p>
                                <p>C/A 1254 New Yourk</p>
                            </div>
                        </div>
                        <div class="single-contact">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="details">
                                <p>+012  456  456  456</p>
                                <p>+012  356  897  222</p>
                            </div>
                        </div>
                        <div class="single-contact">
                            <div class="icon">
                                <i class="fa fa-dribbble"></i>
                            </div>
                            <div class="details">
                                <a href="#">info@yash.com</a>
                                <a href="#">www.yashjew.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-quick-link footer-links">
                        <h2>QUICK LINK</h2>
                        <ul>
                            <li><a href="@Url.Action("Index", "Client")">Home</a></li>
                            <li><a href="@Url.Action("Shop", "Client")">Shop</a></li>
                            <li><a href="@Url.Action("About", "Client")">About</a></li>
                            <li><a href="@Url.Action("Blog", "Client")">Blog</a></li>
                            <li><a href="@Url.Action("Contact", "Client")">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-8 footer-support footer-links">
                            <h2>OUR SUPPORT</h2>
                            <ul>
                                <li><a href="#">privacy Policy</a></li>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Term & Conditions</a></li>
                                <li><a href="faq.html">Help & FAQs</a></li>
                                <li><a href="@Url.Action("Contact", "Client")">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 footer-account footer-links">
                            <h2>my Account</h2>
                            <ul>
                                <li><a href="#">my Account</a></li>
                                <li><a href="#">order History</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-newslater fix">
                        <div class="wrap fix">
                            <h3>NEWS LETTER ! </h3>
                            <form action="@Url.Action("Newsletter", "Client")" method="post">
                                <input type="email" name="n_email" placeholder="Your E-mail...">
                                <button class="submit">SUBSCRIBE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--Start Footer top area-->
    <div class="footer-area fix">
        <!--Start Footer Area-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copy-right">
                        <p>&copy; 2015 <a href="#">PowerRangers</a>, All Right Reserved</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="payment">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/assets/client/img/footer/paypal.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/client/img/footer/visa.jpg" alt="visa.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/client/img/footer/master.jpg" alt="master.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/client/img/footer/cards.jpg" alt="cards.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/client/img/footer/discover.jpg" alt="discover.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Footer Area-->
    <!-- Bootstrap JS -->
    <script src="~/assets/client/js/bootstrap.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/assets/client/js/owl.carousel.min.js"></script>
    <!--countTo JS -->
    <script src="~/assets/client/js/jquery.countTo.js"></script>
    <!-- mixitup JS -->
    <script src="~/assets/client/js/jquery.mixitup.min.js"></script>
    <!-- magnific popup JS -->
    <script src="~/assets/client/js/jquery.magnific-popup.min.js"></script>
    <!-- Appear JS -->
    <script src="~/assets/client/js/jquery.appear.js"></script>
    <!-- MeanMenu JS -->
    <script src="~/assets/client/js/jquery.meanmenu.min.js"></script>
    <!-- Nivo Slider JS -->
    <script src="~/assets/client/js/jquery.nivo.slider.pack.js"></script>
    <!-- Scrollup JS -->
    <script src="~/assets/client/js/jquery.scrollup.min.js"></script>
    <!-- simpleLens JS -->
    <script src="~/assets/client/js/jquery.simpleLens.min.js"></script>
    <!-- Price Slider JS -->
    <script src="~/assets/client/js/jquery-price-slider.js"></script>
    <!-- WOW JS -->
    <script src="~/assets/client/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Main JS -->
    <script src="~/assets/client/js/main.js"></script>
    <!--jQuery UI-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--Rating-->
    <script src="~/assets/client/js/starrr.js"></script>

    <script>
        var totalItem = 0;
        $(function () {
            var itemCode;
            $(".ui-widget-content").draggable({
                drag: function (event, ui) {
                    itemCode = $(event.target).attr('data-id');
                },
                appendTo: "body",
                helper: "clone",
                scroll: true,
                scrollSensitivity: 100,
                scrollSpeed: 100,
                containment: "html",
                revert: true
            });
            $("#cartdroppable").droppable({
                drop: function (event, ui) {
                    totalItem = parseInt(totalItem) + 1;
                    window.location.href = "https://localhost:44368/Cart/Buy?id=" + itemCode;
                }
            });
        });

        $('.pro-ratting').starrr({
          rating: 4
        })

    </script>

</body>

</html>