@model OnlineJewelryShoppingMVC.BlogMst

@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Blog Details</h2>
    </div>
</div><!--End Title-->
<section class="blog-page page fix">
    <!-- Start Blog Details-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="single-blog blog-details">
                    <div class="content fix">
                        <img src="~/assets/client/img/blog/@Html.DisplayFor(b=>b.blogImg)" alt="" />
                        <div class="date">
                            <h4>@Html.DisplayFor(m => m.cdate.Day)</h4>
                            <h5>
                                @switch (Html.DisplayFor(m => m.cdate.Month).ToString())
                                {
                                    case "1":
                                    @Html.Raw("<h5>Jan</h5>")
                                    break;
                                    case "2":
                                    @Html.Raw("<h5>Feb</h5>")
                                    break;
                                    case "3":
                                    @Html.Raw("<h5>Mar</h5>")
                                    break;
                                    case "4":
                                    @Html.Raw("<h5>Apr</h5>")
                                    break;
                                    case "5":
                                    @Html.Raw("<h5>May</h5>")
                                    break;
                                    case "6":
                                    @Html.Raw("<h5>Jun</h5>")
                                    break;
                                    case "7":
                                    @Html.Raw("<h5>Jul</h5>")
                                    break;
                                    case "8":
                                    @Html.Raw("<h5>Aug</h5>")
                                    break;
                                    case "9":
                                    @Html.Raw("<h5>Sep</h5>")
                                    break;
                                    case "10":
                                    @Html.Raw("<h5>Oct</h5>")
                                    break;
                                    case "11":
                                    @Html.Raw("<h5>Nov</h5>")
                                    break;
                                    case "12":
                                    @Html.Raw("<h5>Dec</h5>")
                                    break;
                                    default:
                                    break;
                                }
                            </h5>
                        </div>
                        <h2>@Html.DisplayFor(b=>b.blogTitle)</h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Admin</a>
                            @if (DateTime.Now.Subtract(DateTime.Parse(Html.DisplayFor(b=>b.cdate).ToString())).Minutes > 0)
                            {
                                <a href="#"><i class="fa fa-calendar"></i>@DateTime.Now.Subtract(DateTime.Parse(Html.DisplayFor(b=>b.cdate).ToString())).Minutes minute(s) ago</a>
                            }
                            else if (DateTime.Now.Subtract(DateTime.Parse(Html.DisplayFor(b=>b.cdate).ToString())).Minutes >= 60)
                            {
                                <a href="#"><i class="fa fa-calendar"></i>@DateTime.Now.Subtract(DateTime.Parse(Html.DisplayFor(b=>b.cdate).ToString())).Hours hour(s) ago</a>
                            }
                            else if (DateTime.Now.Subtract(DateTime.Parse(Html.DisplayFor(b=>b.cdate).ToString())).Hours >= 24)
                            {
                                <a href="#"><i class="fa fa-calendar"></i>@DateTime.Now.Subtract(DateTime.Parse(Html.DisplayFor(b=>b.cdate).ToString())).Days day(s) ago</a>
                            }
                        </div>
                        <p>@Html.DisplayFor(b=>b.blogContent)</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="single-sidebar">
                    <h2>Category</h2>
                    <ul>
                        <li><a href="#">Rings</a></li>
                        <li><a href="#">Necklaces</a></li>
                        <li><a href="#">Bracelets</a></li>
                        <li><a href="#">Earrings</a></li>
                    </ul>
                </div>
                <div class="single-sidebar">
                    <h2>Recent Post</h2>
                    <ul class="resent-post">
                        @foreach (var b in ViewBag.RecentBlog)
                        {
                            <li>
                                <!-- SINGLE POST -->
                                <div class="image">
                                    <a href="@Url.Action("BlogDetails", "Client", new { id = b.blogId})"><img alt="" src="~/assets/client/img/blog/@b.blogImg"></a>
                                </div>
                                <div class="content fix">
                                    <h5><a href="#">@b.blogTitle</a></h5>
                                    <span><i class="fa fa-clock-o"></i>@b.cdate.ToShortDateString()</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- Start Blog Details-->
