@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineJewelryShoppingMVC.BlogMst>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Blog</h2>
    </div>
</div><!--End Title-->
<section class="blog-page page fix">
    <!-- Start Blog Area-->
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="single-blog">
                        <div class="content fix">
                            <a class="image fix" href="@Url.Action("BlogDetails", "Client", new { id = item.blogId})">
                                <img src="~/assets/client/img/blog/@Html.DisplayFor(m => item.blogImg)" alt="@Html.DisplayFor(m => item.blogImg)" />
                                <div class="date">
                                    <h4>@Html.DisplayFor(m => item.cdate.Day)</h4>
                                    <h5>
                                        @switch (Html.DisplayFor(m => item.cdate.Month).ToString())
                                        {
                                            case "1":
                                                @Html.Raw("<h5>Jan</h5>")
                                                break;
                                            case "2":
                                                @Html.Raw("<h5>Feb</h5>")
                                                break;
                                            case "3":
                                                @Html.Raw("<h5>Mar</h5>")
                                                break;
                                            case "4":
                                                @Html.Raw("<h5>Apr</h5>")
                                                break;
                                            case "5":
                                                @Html.Raw("<h5>May</h5>")
                                                break;
                                            case "6":
                                                @Html.Raw("<h5>Jun</h5>")
                                                break;
                                            case "7":
                                                @Html.Raw("<h5>Jul</h5>")
                                                break;
                                            case "8":
                                                @Html.Raw("<h5>Aug</h5>")
                                                break;
                                            case "9":
                                                @Html.Raw("<h5>Sep</h5>")
                                                break;
                                            case "10":
                                                @Html.Raw("<h5>Oct</h5>")
                                                break;
                                            case "11":
                                                @Html.Raw("<h5>Nov</h5>")
                                                break;
                                            case "12":
                                                @Html.Raw("<h5>Dec</h5>")
                                                break;
                                            default:
                                                break;
                                        }
                                    </h5>
                                </div>
                            </a>
                            <h2><a class="title" href="@Url.Action("BlogDetails", "Client", new { id = item.blogId})">@Html.DisplayFor(m => item.blogTitle)</a></h2>
                            <div class="meta">
                                <a href="#"><i class="fa fa-pencil-square-o"></i>Admin</a>
                                @if (DateTime.Now.Subtract(item.cdate).Minutes > 0)
                                {
                                    <a href="#"><i class="fa fa-calendar"></i>@DateTime.Now.Subtract(item.cdate).Minutes minute(s) ago</a>
                                }
                                else if(DateTime.Now.Subtract(item.cdate).Minutes >= 60)
                                {
                                    <a href="#"><i class="fa fa-calendar"></i>@DateTime.Now.Subtract(item.cdate).Hours hour(s) ago</a>
                                }   
                                else if(DateTime.Now.Subtract(item.cdate).Hours >= 24)
                                {
                                    <a href="#"><i class="fa fa-calendar"></i>@DateTime.Now.Subtract(item.cdate).Days day(s) ago</a>
                                }
                            </div>
                            <p>@Html.DisplayFor(m => item.blogShortDes)</p>
                        </div>
                    </div>
                </div>
            }
            <!-- Pagination -->
            <div>
                @Html.PagedListPager(Model, page => Url.Action("/Blog", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                )
            </div>
        </div>
    </div>
</section><!-- Start Blog Area-->

<script>
    $(document).ready(function () {
        $('.pagination-container').find('.pagination .active a').css({'background':'#e09e25','color':'#fff'});
        $('.pagination-container').find('.pagination').removeClass('pagination');
        $('.pagination-container').addClass('pagination');
        $('.pagination-container').removeClass('pagination-container');
    });
</script>
