@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineJewelryShoppingMVC.ItemMst>

@{
    ViewBag.Title = "Shop List";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Shop List</h2>
    </div>
</div><!--End Title-->
<!-- Shop Product Area Start -->
<div class="shop-product-area section fix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="shop-sidebar fix">
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-category">
                        <h2>Category</h2>
                        <ul>
                            @foreach (var p in ViewBag.ProdList)
                            {
                                <li><a href="javascript:void(0)" id="prodFilter" data-prod="@p.prodType">@p.prodType</a></li>
                            }
                        </ul>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-add">
                        <a href="#"><img src="~/assets/client/img/shop-add-1.jpg" alt=""></a>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-brands">
                        <h2>Brands</h2>
                        <ul>
                            @foreach (var item in ViewBag.BrandList)
                            {
                                <li><a href="javascript:void(0)" id="brandFilter" data-brand="@item.brandType">@item.brandType<span> ( @Model.Where(i=>i.brandId == item.brandId).Count().ToString() )</span></a></li>
                            }
                        </ul>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar product-price-range">
                        <h2>Price</h2>
                        <div class="slider-range-container">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="price-amount" readonly>
                            </p>
                        </div>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-add">
                        <a href="#"><img src="~/assets/client/img/shop-add-2.jpg" alt=""></a>
                    </div>
                    <!-- single-sidebar end -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Shop Tool Bar -->
                    <div class="shop-tool-bar col-sm-12 fix">
                        <div class="view-mode">
                            <a href="@Url.Action("Shop", "Client")"><i class="fa fa-th"></i></a>
                            <a href="@Url.Action("ShopList", "Client")" class="active"><i class="fa fa-th-list"></i></a>
                        </div>
                        <div class="sort-by">
                            <span>Sort By</span>
                            <select name="sort-by">
                                <option selected="selected" value="mercede">price: Lower</option>
                                <option value="saab">price(low&gt;high)</option>
                                <option value="mercedes">price(high &gt; low)</option>
                                <option value="audi">rating(highest)</option>
                            </select>
                        </div>
                    </div>
                    <div class="shop-products" id="shopListProd">
                        @foreach (var i in Model)
                        {
                            <!-- Single Product -->
                            <div class="single-list-product col-sm-12" data-price="@i.MRP" data-brand="@i.BrandMst.brandType" data-prod="@i.ProductMst.prodType">
                                <div class="list-pro-image">
                                    <a href="@Url.Action("ItemDetails", "Client", new { id = i.itemCode})">
                                        <img src="~/assets/image/@i.itemImg" alt="@i.itemImg" />
                                    </a>
                                </div>
                                <div class="list-pro-des fix">
                                    <a class="pro-name" href="@Url.Action("ItemDetails", "Client", new { id = i.itemCode})">@i.itemName</a>
                                    <div class="pro-ratting">
                                    </div>
                                    <h4 class="list-pro-price"><span class="new">$@i.MRP</span></h4>
                                    <p>@i.itemDescription</p>
                                    <div class="list-actions-btn">
                                        <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                        <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                        <a class="cart" href="@Url.Action("Buy", "Cart", new { id = i.itemCode})"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Pagination -->
                        <div>
                            @Html.PagedListPager(Model, page => Url.Action("/ShopList", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
                            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Shop Product Area End -->

<script>
    $(document).ready(function () {
        $('.pagination-container').find('.pagination .active a').css({'background':'#e09e25','color':'#fff'});
        $('.pagination-container').find('.pagination').removeClass('pagination');
        $('.pagination-container').addClass('pagination');
        $('.pagination-container').removeClass('pagination-container');
    });
</script>
