@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineJewelryShoppingMVC.ItemMst>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Shop</h2>
    </div>
</div><!--End Title-->
<div class="shop-product-area section fix">
    <!--Start Shop Area-->
    <div class="container">
        <div class="row">
            <div class="shop-tool-bar col-sm-12 fix">
                @using (Html.BeginForm("Shop", "Client", FormMethod.Post))
                {
                    <div class="view-mode">
                        <a href="@Url.Action("Shop", "Client")" class="active"><i class="fa fa-th"></i></a>
                        <a href="@Url.Action("ShopList", "Client")"><i class="fa fa-th-list"></i></a>
                    </div>
                    <div class="sort-by">
                        <span>Search By  @Html.TextBox("searchString")</span>
                    </div>
                    <div class="sort-by">
                        <span>Sort by Brand</span>
                        <select name="sort_by_brand">
                            <option value="" selected>Select</option>
                            @foreach (var b in ViewBag.BrandList)
                            {
                                <option value="@b.brandId">@b.brandType</option>
                            }
                        </select>
                    </div>

                    <div class="show-product">
                        <span>Show</span>
                        <select name="sort_by">
                            <option value="6" selected>Select</option>
                            <option value="6">6</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                        <span>Per Page</span>
                    </div>
                    <input type="submit" name="btnSubmit" value="Search" class="btn btn-border" style="background-color: #e09e25; color:#fff; font-weight:bold;" />
                    @*<div class="pro-Showing">
                        <span>Showing 1 - 12 of 16 items</span>
                    </div>*@
                }
            </div>
            <div class="shop-products">
                <!-- Single Product Start -->
                @foreach (var i in ViewBag.ItemList)
                {
                    <div class="col-sm-4 col-md-3 fix">
                        <div class="product-item fix ui-widget-content" data-id="@i.itemCode" style="width: 270px;">
                            <div class="product-img-hover">
                                <!-- Product image -->
                                <a href="@Url.Action("ItemDetails", "Client", new { id = i.itemCode})" class="pro-image fix"><img src="~/assets/image/@i.itemImg.Split(',')[0]" alt="@i.itemImg" style="width: 270px; height: 246px;"/></a>
                                <!-- Product action Btn -->
                                <div class="product-action-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="add-cart" href="@Url.Action("Buy", "Cart", new { id = i.itemCode })"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="pro-name-price-ratting">
                                <!-- Product Name -->
                                <div class="pro-name">
                                    <a href="@Url.Action("ItemDetails", "Client", new { id = i.itemCode})">@i.itemName</a>
                                    <p style="display:none;" id="codeItem">@i.itemCode</p>
                                </div>
                                <!-- Product Ratting -->
                                <div class="pro-ratting">
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star-half-o"></i>
                                </div>
                                <!-- Product Price -->
                                <div class="pro-price fix">
                                    <p><span class="new">$@i.MRP</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.PagedListPager(Model, page => Url.Action("/Shop", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
                    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                    )
                </div>
            </div>
        </div>
    </div>
</div><!--Start Shop Area-->
<script>
    $(document).ready(function () {
        $('.pagination-container').find('.pagination .active a').css({'background':'#e09e25','color':'#fff'});
        $('.pagination-container').find('.pagination').removeClass('pagination');
        $('.pagination-container').addClass('pagination');
        $('.pagination-container').removeClass('pagination-container');
    });
</script>
