@model OnlineJewelryShoppingMVC.InquiryMst

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InquiryMst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.transactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVV_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV_No)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
