@model OnlineJewelryShoppingMVC.StoneInfoMst

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StoneInfoMst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stoneShape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stoneShape)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stoneCrt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stoneCrt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stoneColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stoneColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stoneRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stoneRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stoneImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stoneImg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
