@model OnlineJewelryShoppingMVC.ContactMst

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContactMst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactMob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactMob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
