@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineJewelryShoppingMVC.ContactMst>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="content">
    <p>
        <a class="btn btn-primary" href="@Url.Action("Create","ContactMsts")">
            Create
        </a>
    </p>
    @using (Html.BeginForm("Index", "ContactMsts", FormMethod.Post))
    {
        <div style="padding-bottom: 2%;">
            Search: @Html.TextBox("searchString")
            <input id="Submit1" type="submit" value="Search" class="btn btn-success" />
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> CONTACT TABLE</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().contactName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().contactMob)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().contactEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().contactSubject)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().contactMessage)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.contactName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.contactMob)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.contactEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.contactSubject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.contactMessage)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.contactId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.contactId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.contactId })
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
    )
</div>
