@model OnlineJewelryShoppingMVC.BlogMst

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BlogMst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blogImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.blogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
