@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineJewelryShoppingMVC.GoldInfoMst>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<p>
    <a class="btn btn-primary" href="@Url.Action("Create","GoldInfoMsts")">
        ADD NEW
    </a>
</p>
@using (Html.BeginForm("Index", "GoldInfoMsts", FormMethod.Post))
{
    <div style="padding-bottom: 2%;">
        Search by Type : @Html.TextBox("searchString")
        <input id="Submit1" type="submit" value="Search" class="btn btn-success" />
    </div>
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">GOLD</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().goldCrt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().goldType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().goldRate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goldCrt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goldType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goldRate)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.goldId.Trim() }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.goldId.Trim() }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.goldId.Trim() })
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
    )
</div>

